/* Reset style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #EEEFE9;
}

.top {
    background: #244436;
    padding: 20px 0;
}

.top li {
    margin-right: 15px;
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 159px;
}

.top li a{
    color: #EEEFE9;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    transition: .3s;
    display: block;
}


/*Styling af nav-bar med grid*/
#navbar {
    background-color: #244436; /* Definerer baggrundsfarven på selve nav-baren*/
}


#navbar ul{ /* Det er rækken med menupunkterne*/ 
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    
}

#navbar ul li{ /*Teksten på menupunkterne*/
    text-align: center;
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    position: relative;
    text-transform: uppercase;
}

#navbar ul li a{ /* Farven på selve teksten på menupunkterne*/
    color: #EEEFE9;
    text-decoration: none;
}

#navbar ul li ul {
    display: none;
}

#navbar ul li:hover{ /* Når man kører musen hen over teksten i nav-bar*/
    cursor: pointer;
    background-color: #EEEFE9;
    color: #244436;
}

#navbar ul li:hover a { /* Angiver farven når man kører musen hen over teksten i nav-bar*/
    color: #244436;
}

#navbar  ul li:hover ul { /* styling af selve drop-down menu*/
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1rem;
}

#navbar ul li:hover ul li { /* Styling og angivelse af baggrundsfarvefarve i drop-down*/
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #244436;
    align-items: center;
}

#navbar ul li:hover ul li a { /* Angiver farven på tekten i drop-down*/
    text-align: left;
    color: #244436
}

#navbar ul li:hover ul li:hover {
    background-color: #EEEFE9;
    
}

/* Styling af footer*/
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #244436;
}

footer .footer  {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}

footer .footer h2 {
    position: relative;
    color: #EEEFE9;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footer h2::before { /* Sætter streger under h2*/
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #EEEFE9;
}

footer .footer p{
    color: #EEEFE9;
}

.soMe {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
}

.soMe li {
    list-style: none;
}

.soMe li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #EEEFE9;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

.soMe li a .fa {
    color: #244436;
    font-size: 20px;
}

.soMe li a .fa:hover {
    color: #FAC85C;
}


.hurtigeLinks {
    position: relative;
}

.hurtigeLinks li {
    list-style: none;
}

.hurtigeLinks li a {
    color: #EEEFE9;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.hurtigeLinks a:hover {
    color: #FAC85C;
}


.kontaktInfo {
    position: relative;
}

.kontaktInfo li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.kontaktInfo li span:nth-child(1) {
    color: #EEEFE9;
    font-size: 20px;
    
}

.kontaktInfo li span {
    color: #EEEFE9;
}

.kontaktInfo a {
    color: #EEEFE9;
    text-decoration: none;
}

.kontaktInfo a:hover {
    color: #FAC85C;
}





